@import url(https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">);

body{
font-family: 'Tangerine', cursive;
font-size: 20px;   
color: #7a899a;
position: relative;
font-size: 20px; 
background-color: #66cbff;    
}

  nav {
  float: right;
  margin: 19px 0 20px; }
  nav .nav-icon {
    display: none;
    color: white; }
  nav ul li {
    display: inline-block;
    font-size: 30px;
    padding: 10px 0; }
    nav ul li a {
      color: #ccffcc;
      font-weight: 900;
      padding: 10px 20px;
      border: 2px solid transparent; }
      nav ul li a:hover {
        color: #0099cb;
        border-color: #0099cb;
        text-decoration: none; }
      nav ul li a span {
        display: inline-block; }
      nav ul li a .nav-icon {
        color: white;
        display: none; }