@import url(https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">);

body{
font-family: 'Tangerine', cursive;
font-size: 20px;   
color: #7a899a;
position: relative;
font-size: 20px; 
background-color: #66cbff;    
}

  nav {
  float: right;
  margin: 19px 0 20px; }
  nav .nav-icon {
    display: none;
    color: white; }
  nav ul li {
    display: inline-block;
    font-size: 30px;
    padding: 10px 0; }
    nav ul li a {
      color: #ccffcc;
      font-weight: 900;
      padding: 10px 20px;
      border: 2px solid transparent; }
      nav ul li a:hover {
        color: #0099cb;
        border-color: #0099cb;
        text-decoration: none; }
      nav ul li a span {
        display: inline-block; }
      nav ul li a .nav-icon {
        color: white;
        display: none; }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}